page-result {
    .result{
        background: #EDF5E1;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color:#05386B;
        text-align: center;
    }
    .headerResult{
        background:#379683;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color:#05386B;
        text-align: center;
    }
    .button{
        text-align: center;
        float: center;
    }
    
}
