page-about {
    .about{
        background: #EDF5E1;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color:#05386B;
        text-align: center;
        font-size: 25px;
    }
    .headerAbout{
        background:#379683;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color:#05386B;
        text-align: center;
    }
}
